<mat-toolbar  color ='primary'>
    <span>Vehicle License  </span>
  </mat-toolbar>
<mat-toolbar-row>
    <span>Welcome Kritika </span>
    <span class="example-spacer"></span>
    <button mat-button color='accent' routerLink ='/'>Home</button>

    <button mat-button color='accent' routerLink ='/contact'>Contact</button>
    <button mat-button color='accent'routerLink ='/help'>Help?</button>
  </mat-toolbar-row>


  
 
  <div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>

      <div class="column">
        <img src="https://www.intex.in/media/wysiwyg/contact-us-mobile_1_.jpg" style="width:100%">
      </div>
    
    </div>
    <div class="row">
      <div class="column">
        
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  <br>
          
            
          
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject  " placeholder="Write something.." style="height:173px"></textarea>
          <input type="submit" value="Submit">
  
  
        </form>


  


  <div class="Footer">
    <h1>Contact Us at</h1>
    <p>Email : Rto123@rto.com</p>
    <p>Mobile : 1234567890 </p> <br>
  </div>
  
      </div>
    </div>
 
