<mat-toolbar  color ='primary'>
    <span class ='heading'>Vehicle License  </span>
    <button mat-button color='accent' routerLink ='/'>Back</button>
  </mat-toolbar>
  
<div class="container-fluid">
    <h2> Application Form</h2>
    <div class ="alert alert-danger" *ngIf="errorMsg"></div>{{errorMsg}}
    <form #userForm = "ngForm"  (ngSubmit)="onSubmit()" novalidate *ngIf = "!submitted">

        {{userForm.value | json}}
    
    
        <div class="form-group">
            <label>First Name</label>
            <input type="text" #fname="ngModel" required class="form-control" 
            [class.is-invalid]="fname.invalid && fname.touched" 
            name="firstName" [(ngModel)]="userModel.firstName">
            <small class="text-danger" [class.d-none]="fname.valid || fname.untouched">Mandatory Field</small>
          </div>
   

            <div class="form-group"> 
            <label>Middle Name </label>
            <input type="text" class="form-control" name = "middleName" [(ngModel)]='userModel.middleName'/>
        </div>
            <div class="form-group">    
            <label>Last Name </label>
            <input type="text" #lname ="ngModel" required class="form-control"
             [class.is-invalid]="lname.invalid && lname.touched"
             name="lastName" [(ngModel)]="userModel.lastName"/>
            <small class="text-danger" [class.d-none]="lname.valid || lname.untouched">Mandatory Field</small>
            
        </div>
    

        <div class="form-group">
            <label>Date of Birth </label>
            <input type="date" #dob="ngModel" (blur)="validateAge(dob.value)" 
            (change)="validateAge(dob.value)"
            class="form-control" [class.is-invalid]="invalidAge && dob.touched"
             name = "dateOfBirth" [(ngModel)]='userModel.dateOfBirth'/>
            <small class="text-danger" [class.d-none]=" !invalidAge || dob.untouched">Age less than 18</small>
        </div>

        <div class="form-group">
            <label>Place of Birth </label>
            <input type="text" required #pob ="ngModel"  class="form-control"
             [class.is-invalid]="pob.invalid && pob.touched"
            name = "placeOfBirth" [(ngModel)]='userModel.placeOfBirth'/>
            <small class="text-danger" [class.d-none]="pob.valid || pob.untouched">Mandatory Field</small>
        </div>

        <div class="form-group">
            <label>Highest Qualification </label>
            <input type="text" class="form-control" required #qualification="ngModel" 
            [class.is-invalid]="qualification.invalid && qualification.touched"
            name = "qualification" [(ngModel)]='userModel.qualification'/>
            <small class="text-danger" [class.d-none]="qualification.valid || qualification.untouched">Mandatory Field</small>
        </div>

        <div class="form-group">
            <label>Mobile Number </label>
            <input type="text" class="form-control" required #mobile="ngModel"
             [class.is-invalid]="mobile.invalid && mobile.touched"
             pattern="[0-9]{10}" name = "mobile" [(ngModel)]='userModel.mobile'/>
            <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Enter valid 10 digit mobile number</small>

        </div>

        <div class="form-group">
            <label>Email </label>
            <input type="email" class="form-control" required #email="ngModel" 
            [class.is-invalid]="email.invalid && email.touched"
            name = "email" [(ngModel)]='userModel.email'/>
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Mandatory Field</small>

        </div>

        <div class="mb-3">
            <label>Nationality </label>
            <div class='form-check'>            
            <input type="radio" class="form-check-input" name="nationality" value='INDIAN'
            [(ngModel)]='userModel.nationality'/>
            <label class='form-check-label'>INDIAN</label>
        </div>
        </div>


        <div class="form-group">
            <label>Vehicle Type </label>
            <select class="custom-select" #vtype ="ngModel" (blur)="validateType(vtype.value)" 
            (change)="validateType(vtype.value)" 
             [class.is-invalid]="hasError && vtype.touched"
            name = "vehicleType" 
             [(ngModel)]='userModel.vehicleType'>

                <option value="">None</option>
                <optgroup label ="Motorcycle without gear">
                    <option>Scooty</option>
                </optgroup>
                <optgroup label="Light motor vehicle with gear">
                    <option>Automatic cars</option>
                    <option>Manual cars</option>
                    <option>Motocycle</option>
                </optgroup>
                <optgroup label="Transportation Vehicle">
                    <option>Trucks</option>
                    <option>Tractor</option>
                    <option>Bus</option>
                </optgroup>
            </select>
            <small class="text-danger" [class.d-none]="!hasError|| vtype.untouched">Mandatory Field</small>
        </div>

        
        <div class="form-group">
            <label>Vehicle Number </label>
            <input type="text" class="form-control" #vehicleno ="ngModel" required
            [class.is-invalid]="vehicleno.invalid && vehicleno.touched"
            name = "vehicleNumber" 
            [(ngModel)]='userModel.vehicleNumber'/>
            <small class="text-danger" [class.d-none]="vehicleno.valid|| vehicleno.untouched">Mandatory Field</small>
        </div>

        <div class="mb-3">
            <label>Gender </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]='userModel.gender'>
              <label class="form-check-label">MALE</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]='userModel.gender'>
              <label class="form-check-label">FEMALE</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="OTHER" [(ngModel)]='userModel.gender'>
                <label class="form-check-label">OTHER</label>
              </div>

          </div>


        <button [disabled]="userForm.form.invalid || hasError"  routerLink='/documents'class="btn btn-primary" type="submit">Upload Document</button>
        




    </form>
</div>
